<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Java EE 6 Starter Application</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <h:outputStylesheet name="css/screen.css"/>
    </h:head>
    <h:body>
        <h1>Hello ALL!</h1>
        <p>CDI bean presentation</p>

        <h2>Ref number from injection: <span style="color: blue;">#{cdi.refNumber}</span></h2>
        <h2>Ref number prefix injection: <span style="color: blue;">#{cdi.prefix}</span></h2>
        <h:form id="conversattion">
            <h:commandButton id="start" action="#{refNumberGenerator.startConversation()}" value="Start conversation"/><br />
            <h:commandButton id="proceed" action="#{refNumberGenerator.proceedConversation()}" value="Proceed conversation"/><br />
            <h:commandButton id="end" action="#{refNumberGenerator.endConversation()}" value="End conversation"/><br />
        </h:form>

        <h:outputLink value="conversation_start.jsf" ><h:outputText value="Link to start conversation"/></h:outputLink>
    </h:body>
</html>
